* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

#wrapper {
    width: 340px;
    height: 640px;
    border: 1px solid rgba(#000, 0.2);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding: 0 16px;
    border-bottom: 1px solid rgba(#000, 0.2);
    button {
        margin-left: 16px;
    }
}

.content {
    padding: 16px 16px 0;
}

.ant-layout {
    background: #fff;
}

.ant-tabs {
    height: calc(640px - 66px);  
}

.ant-tabs-bottom-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.ant-tabs-nav {
    width: 100%;
    .ant-tabs-tab {
        text-align: center;
        width: 50%;
        margin: 0;
    }
}

@media screen and (max-width:567px) {
    body {
        margin-top: 0;
    }
    #wrapper {
        width: 100vw;
        height: 100vh;
    }
    .ant-tabs {
        height: calc(100vh - 66px);
    }
}